body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

table, th, td {
    border: solid 1px #666666;
}

td, th {
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 4em;
    text-align: center;
}

th {
    background-color: #444444;
}

td:nth-child( 1 ) {
    font-weight: bold;
}